/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100%;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.chats {
  background: #18191a;
  min-height: 120vh;
  min-width: 100%;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
  min-width: 150px !important;
  margin-bottom: 64px;
}

.chipListMovil {
  display: none;
}


.mat-chip-list-wrapper {
  place-content: center;

}

.home-user .order {
  transition: 0.5s;
  height: 100%;
  display: grid;
  place-items: center;
}

.home-user #check:checked~div.order {}

/*CHATS*/

img {
  cursor: pointer;
}

#chat-container {
  display: grid;
  grid:
    'search-container chat-title'71px 'conversation-list chat-message-list'1fr 'new-message-container chat-form'78px / 275px 1fr;

  min-width: 700px;
  max-width: 900px;
  max-height: 80vh;
  min-height: 80vh;
  width: 100%;
  background: transparent;
  transition: 0.5s;
  position: relative;
  border-radius: 10px;
  border: 1.5px solid #004BAA;
  margin-top: 100px;
}

#search-container,
#conversation-list,
#new-message-container {
  background: #0c0f38;
}

#search-container {
  display: grid;
  align-items: center;
  padding: 0 20px;
  grid-area: search-container;
  border-radius: 10px 0 0 0;
  box-shadow: 0 1px 3px -1px black;
  z-index: 1;
}


#search-container input {
  color: #eee;
  outline: none;
  font-weight: bold;
  border-radius: 2px;
  height: 30px;
  border: 0;
  padding-left: 48px;
  font-size: 10px !important;
  background: url(assets/images/buscar.svg) no-repeat rgba(255, 255, 255, 0.25);
  background-position: 15px center;
  background-size: 20px 20px;
}

#search-container input::placeholder {
  color: #ddd;
  font-weight: bold;
}

#conversation-list {
  grid-area: conversation-list;
  overflow-y: scroll;

}

#new-message-container {
  display: grid;
  grid: 40px / 40px;
  align-content: center;
  grid-area: new-message-container;
  border-top: 1px solid black;
  border-radius: 0 0 0 10px;
  padding: 0 15px;
}

#new-message-container a {
  display: grid;
  place-items: center;
  background: #eee;
  border-radius: 100%;
  color: #004BAA;
  text-decoration: none;
  font-size: 30px;
}

#chat-title,
#chat-form {
  background: #eee;
}

#chat-title {
  display: grid;
  grid: 36px / 1fr 36px;
  align-content: center;
  grid-area: chat-title;
  color: #004BAA;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 10px 0 0;
  box-shadow: 0 1px 3px -1px rgb(42, 40, 40);
  padding: 0 20px;
}

#chat-title>img {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

#chat-message-list {
  background: #fff;
  grid-area: chat-message-list;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
  overflow-y: scroll;

}

.message-content {
  display: grid;

}

.message-row {
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 20px;
}

.message-text {
  padding: 9px 14px;
  font-size: 13px;
  margin-bottom: 5px;
  cursor: pointer;
}

.message-time {
  font-size: 9px;
  color: #777;
}

.you-message .message-text {
  background: #004BAA;
  color: #eee;
  border: 1px solid #004BAA;
  border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
  background: #eee;
  color: #111;
  border: 1px solid #eee;
  border-radius: 14px 14px 0 14px;
}

.you-message {
  justify-content: end;
  justify-items: end !important;

}

.mat-menu-content {
  background: #18191a;
}

.mat-menu-content span,
.mat-menu-content .mat-icon {
  color: #fff !important;
}

.other-message {
  justify-items: start;
}

.other-message .message-content {
  grid-template-columns: 48px 1fr;
  grid-column-gap: 15px;
}

.other-message #user-image-message {
  border-radius: 100%;
  grid-row: span 2;
  width: 35px;
  height: 35px;
}

.emoji-mart-scroll {
  border-bottom: 0;
  margin-bottom: 6px;
}

.emoji-mart-scroll+.emoji-mart-bar {
  display: none;
}

#general-chats {
  z-index: 1000;
  margin-left: 300px !important;
  margin-top: -450px !important;
}

#chat-form {
  display: grid;
  grid: 51px / 32px 1fr;
  align-content: center;
  align-items: center;
  grid-gap: 15px;
  grid-area: chat-form;
  border-radius: 0 0 10px 0;
  border-top: 1px solid rgb(34, 31, 31);
  padding-left: 32px;
  padding-right: 22px;
}

#chat-form {
  position: relative;
}

#chat-form>img {
  width: 30px;
}

#chat-form>img:hover {
  cursor: pointer;
}

#chat-form #emoji {
  position: absolute;
  top: 0;
  left: 10%;
  padding: 22px 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  width: 55px;
  cursor: pointer;
}

#chat-form input {
  outline: none;
  padding: 15px;
  border: 2px solid #ddd;
  color: #330;
  border-radius: 6px;
  font-size: 13.5px;
  width: 95%;
  margin-left: 7%;
}

#chat-form mat-icon {
  position: absolute;
  top: 0;
  left: 91%;
  padding: 27px 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  transition: .5s;
  cursor: pointer;

}

.conversation {
  display: grid;
  grid-template-columns: 40px 1fr max-content;
  grid-gap: 10px;
  color: #ddd;
  font-size: 13px;
  border-bottom: 1px solid #e5eefa;
  padding: 20px 20px 20px 15px;
}

.conversation.active,
.conversation:hover {
  background: #002C88;
}

.conversation:hover {
  cursor: pointer;
}

.conversation>img {
  grid-row: span 2;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.title-text {
  font-weight: bold;
  color: #eee;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conversation-message {
  font-size: 11px;
  grid-column: span 2;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.created-date {
  color: #ddd;
  font-size: 9px;
}

#image-principal-chat {
  width: 500px;
  height: 350px;
}

#image-message {}

#image-message img {
  width: 150px !important;
  heigth: 100px !important;
}

#conversation-list::-webkit-scrollbar,
#chat-message-list::-webkit-scrollbar {
  display: none;

}

.user-profile {
  overflow-x: hidden;
  padding-top: 90px;
  font-family: "Poppins", sans-serif;
  margin: 0 100px;
}

.user-profile .profile-header {
  background: #0c0f38;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, .2);
  border: 1px solid #1ff4ff;

}

.user-profile .profile-img {
  float: left;
  width: 340px;
  height: 200px;
}

.user-profile .profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid #e40046;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.user-profile .profile-nav-info {
  float: left;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.user-profile .profile-nav-info h3 {
  color: #fff;
  font-variant: small-caps;
  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
}

.user-profile .profile-nav-info .address {
  display: flex;
  font-weight: bold;
  color: #777;
}

.user-profile .profile-nav-info .address p {
  margin-right: 5px;
}

.user-profile .profile-option {
  width: 40px;
  height: 40px;
  background: #e40046;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
  outline: none;

}

.user-profile .profile-option .notification i {
  color: #fff;
  font-size: 1.2rem;
  transition: all .5s ease-in-out;
}

.user-profile .profile-option:hover {
  background: #fff;
  border: 1px solid #e40046;
}

.user-profile .profile-option:hover .notification i {
  color: #e40046;
}

.user-profile .profile-option .notification .alert-message {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  color: #e40046;
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  font-weight: bold;
}

.user-profile .main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}

.user-profile .profile-side {
  width: 300px;
  color: #fff !important;
  background: #0c0f38;
  padding: 90px 30px 20px;
  font-family: 'Bree Serif', serif;
  margin-left: 10px;
  border: 1px solid #1ff4ff;
  z-index: 99;
}

.user-profile .profile-side p {
  font-family: inherit !important;
  margin-bottom: 7px;
  color: #fff;
  font-size: 12px;
}

.user-profile .profile-side p i {
  color: #e40046;
  margin-right: 10px;
}

.user-profile .mobile-no i {
  transform: rotateY(180deg);
}

.user-profile .profile-btn {
  display: flex;
}

.user-profile button.chatbtn,
.user-profile button.createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: #e40046;
  font-family: "Bree Serif", sans-serif;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background .3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, .3);
  color: #fff;
}

.user-profile button.chatbtn:hover,
.user-profile button.createbtn:hover {
  background: rgba(288, 0, 70, .9)
}

.user-profile button.chatbtn i,
.user-profile button.createbtn i {
  margin-right: 5px;
}

.user-profile .user-rating {
  display: flex;
}

.user-profile .user-rating h3 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #fff;
}

.user-profile .user-rating .no-user {
  font-size: .9rem;
}

.user-profile .rate {
  padding-top: 6px;
}

.user-profile .rate i {
  font-size: .9rem;
  color: #e40046;
}

.user-profile .navb {
  width: 100%;
  background-color: #242526;
  margin-left: 5px;
  z-index: -1;
}

.user-profile .navb ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 40px;
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

.user-profile .navb ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all .2s ease-in-out;
}

.user-profile .navb ul li.active,
.user-profile .navb ul li:hover {
  box-shadow: 0px -3px 0px rgba(288, 0, 70, .9) inset;
}

.user-profile .profile-body {
  color: #fff !important;
  width: 100%;
  margin-left: 5px;
  z-index: 1;
}

.user-profile .tab {
  padding: 20px;
  width: 100%;
  text-align: center;
  min-height: 500px;
}

.user-profile .user-bio h3 {
  font-size: 17px;
}



.user-profile #see-more-bio,
.user-profile #see-less-bio {
  color: blue;
  cursor: pointer;
  text-transform: lowercase;
}

.user-profile .tab {

  width: 100%;
  background-color: #242526;
  border-radius: 10px;

}

.user-profile .mat-form-field {
  background-color: #3a3b3c !important;
  color: #fff !important;
  border-radius: 5px;
  font-size: 11.5px;
}

.user-profile textarea {
  height: 100px !important;
  min-height: 100px !important;
}

.user-profile .tab .profile-photo {
  background-color: #3a3b3c !important;
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
}

.user-profile .tab .profile-photo .photo {
  background-color: #f2f3f5 !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height: auto;
}

.user-profile .tab .file-photo {
  margin-top: 15px;
  background-color: #3a3b3c !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.user-profile .tab .profile-photo .photo img {
  width: 250px;
  max-height: 100%;
}

.user-profile ::-webkit-input-placeholder {
  color: #b0b3b8;
}


.user-profile mat-label {
  color: #b0b3b8 !important;
}

.user-profile .saveBtn {
  border: 0;
  padding: 10px;
  width: 30%;
  border-radius: 3px;
  margin-top: 20px !important;
  background: #e40046;
  font-family: "Bree Serif", sans-serif;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 5px;
  transition: background .3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, .3);
  color: #fff;
}

.user-profile .tab h1 {
  font-size: 23px;
}

.mat-tab-label {
  color: #fff !important;
}

.mat-tab-body-content {
  padding: 5px;
}

mat-grid-list {
  margin-top: 40px !important;
}

.user-profile mat-grid-tile {
  background-color: transparent;
  background-size: cover;

}

.user-profile .mat-card-image {
  background: #b0b3b8;
  height: 230px;
  width: 230px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-profile section {
  margin: .5vw;
  font-size: 0;
  display: -ms-flexbox !important;
  -ms-flexbox-wrap: wrap !important;
  -ms-flexbox-direction: column !important;
  -webkit-flex-flow: row wrap !important;
  flex-flow: row wrap !important;
  display: -webkit-box !important;
  display: flex !important;
}

.user-profile section .profiles {
  background-color: #f2f3f5 !important;
  -webkit-box-flex: auto !important;
  -ms-flex: auto !important;
  flex: auto !important;
  width: 225px !important;
  margin: .5vw !important;
  border-radius: 7px;
  background-size: cover;


}

.user-profile section .profiles img {
  width: 100% !important;
  height: 225px;
  border-radius: 7px;
  background-size: cover;
}


.room-container .course {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border: 1.5px solid #fff;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  width: 600px;
  height: 175px;
  margin-top: 15px;
  position: relative;

}


.room-container {
  margin-top: 50px;
  background: transparent;
}

.room-container .course h2 {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 10px 0;
  text-align: start;
}

.room-container .course h4 {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 10px 0;
  text-align: start;
}

.room-container .preview {
  background: #e40846;
  color: #fff;
  padding: 5px;
  width: 250px;
  align-items: center;
  align-content: center;

  position: relative;
}

.room-container .preview img {
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  border-radius: 5px;
  position: relative;
}



.room-container .info {
  padding: 30px;
  position: relative;
  width: 100%;
  background: #0c0f38;
  color: #fff !important;
}

.room-container .progress-wrapper {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;
}

.room-container .progress {
  background: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}


.room-container .progress::after {
  content: '';
  border-radius: 3px;
  background: #e40046;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: var(--porcentaje-width);
}

.room-container .progress-text {
  font-size: 10px;
  opacity: .6;
  letter-spacing: 1px;
}


.room-container .info p {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.7;
  text-align: start;
}

.room-container .btn-details {
  background: #e40046;
  border: 1px solid transparent;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  color: #fff;
  font-size: 13px;
  padding: 5px 10px;
  position: absolute;
  bottom: 12px;
  right: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .4s ease-in-out;
  font-weight: bold;
  border-radius: 15px;
}

.room-container .btn-details:hover {
  background: #fff;
  color: #e40046;
  border: 1px solid #e40046;
  transform: scale(1.05);
}

@media(max-width: 760px) {

  .room-container .course {
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: 500px;
  }

  .room-container .preview {
    width: 100%;
  }

  .room-container .preview img {}

  .room-container .info h2 {
    margin-top: 30px;
  }

  .room-container .info p {
    margin-bottom: 50px;
  }

  .room-container .btn-details {
    padding: 8px 13px;
    font-size: 12px;
  }




}

/*RESPONSIVE*/

@media screen and (max-width: 400px) {
  .user-profile section .profile {
    margin: 0;
  }

  .user-profile section {
    padding: 0;
    left: 50%;
  }
}

@media(max-width: 1100px) {
  .user-profile .profile-side {
    padding: 90px 15px 20px;
  }

  .user-profile .profile-img img {
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
  }

}

@media(max-width: 900px) {
  .user-profile {
    margin: 0 20px;
  }

  .user-profile section .profiles img {
    height: auto;
  }

  .home-user #sidebarSalas {
    float: right !important;
    top: 170px !important;
    width: 75% !important;
    position: absolute;
    display: grid;
    place-items: center;
  }

  .home-user #contentSalas {
    width: 85% !important;

  }

  .center {
    margin-top: 150px !important;
    display: grid;
    place-items: center;
  }

  .user-profile .profile-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px
  }

  .user-profile .profile-img {
    float: left;
    width: 100%;
    height: 200px;
  }

  .user-profile .profile-body {
    min-width: 100%;
    margin-left: 0px;

  }


  .user-profile .navb {
    margin-left: 0px;
  }

  .user-profile .profile-img img {
    position: relative;
    left: 0;
  }

  .user-profile .profile-nav-info {
    text-align: center;
  }

  .user-profile .profile-nav-info .address {
    justify-content: center;
  }

  .user-profile .profile-option {
    right: 20px;
    top: 75%;
    transform: translateY(50%)
  }

  .user-profile .main-bd {
    flex-direction: column;
    padding-right: 0px;
  }

  .user-profile .profile-side {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5px 0;
  }

  .user-profile .user-rating {
    justify-content: center;
  }

  @media only screen and (min-width:100px) and (max-width:459px) {

    .nav-items li a {
      margin-left: 13px !important;
      margin-right: 5px !important;
      font-size: 12px !important;
    }

    .body header .virtual h1 {
      font-size: 4rem !important;
    }

    .body header .virtual h2 {
      font-size: 3rem !important;
    }

    .body header .text-and-button-init p {
      font-size: 11px !important;
    }

    .button-hover {
      min-width: 150px !important;
    }

    .wrapper {
      margin-top: -100px !important;
    }

    .wapper-nav nav {}

    .header-container {
      margin-bottom: 250px !important;
    }

    .wapper-nav nav .logo {
      margin-left: -10px;
    }
  }


  @media only screen and (min-width: 460px) and (max-width:520px) {

    .nav-items li a {
      margin-left: 25px !important;
    }

    .body header .virtual h1 {
      font-size: 4rem !important;
    }

    .body header .virtual h2 {
      font-size: 3rem !important;
    }

    .body header .text-and-button-init p {
      font-size: 11px !important;
    }

    .button-hover {
      min-width: 150px !important;
    }

    .wrapper {
      margin-top: -100px !important;
    }

    .wapper-nav nav {}
  }

  @media only screen and (min-width:521px) and (max-width:600px) {
    .wapper-nav nav {
      max-width: 100%;
    }

    .nav-items li a {
      margin-left: 40px !important;
    }
  }

  @media(max-width: 850px) {
    #chat-container {
      display: block;
      max-width: 100%;
      min-width: 100%;
      margin-top: 70px;
      min-height: 550px;
      max-height: 550px !important;
    }

    .home-user .order {
      display: block !important;
    }

    #search-container {
      padding: 10px 20px;
    }

    #conversation-list {
      height: 90px;
    }

    #new-message-container {
      display: none;
    }

    #chat-title {
      border-radius: 0px;
      height: 60px;
    }

    #chat-message-list {
      max-height: 290px;
      min-height: 290px;

    }

    #image-principal-chat {
      width: 300px;
      height: 300px;
    }


    #chat-form mat-icon {
      padding: 15px 0;
    }

    #chat-form {
      border-radius: 0 0 10px 10px;
    }

    #general-chats {
      margin-top: -350px !important;
      margin-left: 0px !important;
      position: absolute;
    }

    #chat-form>img {
      margin-left: 0px;
      width: 25px;
    }

    #chat-form #emoji {
      left: 13%;
      padding: 9px 0;
    }


  }

  @media(max-width: 860px) {

    .body {
      display: grid;
      place-items: center;
      min-width: 100%;
      min-height: 100vh;
      background: radial-gradient(circle at 85.4% 50.8%, rgb(14, 72, 222) 0%, rgb(3, 22, 65) 74.2%) !important;

    }

    .home-user .order {
      padding: 25px;
    }



    .body header {
      float: none !important;
      margin-top: 100px !important;
      display: grid !important;
      place-items: center !important;

    }

    .hero-container {
      margin-left: 0 !important;
    }

    .smokes {
      display: none !important;
    }

    .termsconditions {
      margin-left: 0 !important;
      max-width: 100% !important;
    }

  }

  @media (max-width:600px) {

    .mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
      margin-bottom: 0;
    }
    .mat-chip-list-wrapper {
      place-content: center;
    }

    .chipListMovil {
      display: block;
    }

    .chipListNormal {
      display: none;
    }

    #totalMembers {
      display: none;
    }

    #coodee {
      display: none;
    }

    #nameRoooom {
      display: none;

    }
  }

  @media(max-width: 500px) {
    .home-user .logout_btn {
      display: none;
    }

    .home-user #slider h1 {
      display: none;
    }

    .home-user #slider input {
      margin-top: 75px !important;
      padding: 10px !important;
      margin-left: 40px !important;
      width: 80% !important;
    }

    #chat-form>img {
      margin-left: -11px !important;
    }

    #chat-form #emoji {
      left: 19.5% !important;
      width: 50px;
    }
  }

  @media(max-width: 400px) {
    .user-profile {
      margin: 5px;
    }

    .user-profile .profile-header h3 {
      font-size: 1.7rem;
      font-family: inherit !important;


    }

    .user-profile .profile-header p,
    .user-profile .profile-header span {
      font-size: .9rem;
      font-family: inherit !important;

    }

    .user-profile .profile-option {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 15px;
      top: 83%;
    }

    .user-profile .profile-option .notification .alert-message {
      top: -3px;
      right: -4px;
      padding: 4px;
      height: 15px;
      width: 15px;
      font-size: .7rem;
    }



    #chat-form mat-icon {
      left: 88%;
    }

  }

  @media(max-width: 360px) {
    #image-principal-chat {
      width: 270px;
    }
  }

  @media(max-width: 700px) {}

}
