<div class="headerEmail">
    <div class="containerTitle">
        <img src="https://firebasestorage.googleapis.com/v0/b/virtual-city-eb37f.appspot.com/o/emails%2FlogoClaro.png?alt=media&token=182e8528-7cfa-482b-bee8-79105c4c3fae" alt="LOGO bien shido">
        <h1>SISTEMA DE REPORTES HIPEREFE</h1>
    </div>
</div>
<section class="sectionMsg">
    <h2 style="text-align: center;">Ha sido expulsado de una sala</h2>
    <br>
    <div class="messageEmail">
        <h1>Te comunicamos que el Docente</h1>
        <h2>{{teacher}}</h2>
        <h3>ha decidido expulsarte de la sala de Estudio</h3>
        <h2>{{nameRoom}}</h2>
        <h3>El motivo que nos ha brindado es el siguiente</h3>
        <h2>{{reason}}</h2>
    </div>
    <br>
    <br>
    <div class="contactWeb">
        <div class="centerItem">
            <div class="contentLogo2">
                <img src="https://firebasestorage.googleapis.com/v0/b/virtual-city-eb37f.appspot.com/o/emails%2FlogoAzul.png?alt=media&token=11cc15fc-9c5c-4803-aa22-26320ed43fa0">
            </div>
            <div class="contentText">
                <h3>Contactanos</h3>
                <h5>EMAIL: hiperefe.contact@gmail.com</h5>
                <h5>WEB: www.hiperefe-vr.com</h5>
            </div>
            <div class="contentIcon">
                <img src= "https://firebasestorage.googleapis.com/v0/b/virtual-city-eb37f.appspot.com/o/emails%2Ffacebook.png?alt=media&token=cd6e0035-fbe0-48a1-9489-7736354b1a63"
                    alt="facebook">
                <img src="https://firebasestorage.googleapis.com/v0/b/virtual-city-eb37f.appspot.com/o/emails%2Ftwitter.png?alt=media&token=50e665a9-b375-4fec-b1d3-92ee117285e3"
                    alt="Twitter">
            </div>
        </div>
    </div>
</section>