<mat-toolbar>
  <span align="center">Por favor configura tu cuenta, solo tomara un par de minutos</span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>

<mat-horizontal-stepper #stepper>

  <mat-step [stepControl]="cuentaForm" errorMessage="Es requierido.">
    <form [formGroup]="cuentaForm">
      <ng-template matStepLabel>Tipo de cuenta</ng-template>
      <mat-card>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="180px">
            <mat-grid-tile>
              <div class="card cuenta">
                <img mat-card-image src="assets/images/resource1.svg" alt="">
              </div>
              <p><strong>Como Estudiante </strong>, puedes unirte a salas creadas por tu docente o unirte a salas
                generales.</p>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="card cuenta">
                <img mat-card-image src="assets/images/resource1.svg" alt="">
              </div>
              <p> <strong>Como Docente</strong>, puedes crear salas personalizadas para tus estudiantes y controlar a
                sus miembros.</p>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-form-field>
            <mat-select placeholder="Elegir..." formControlName="cuenta" required>
              <ng-container>
                <mat-option value="Estudiante">Estudiante</mat-option>
                <mat-option value="Docente">Docente</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <div align="right">
        <button style="margin-top: 15px;" mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step class="dateForm" [stepControl]="conocimientoForm" errorMessage="Es requierido.">
    <form [formGroup]="conocimientoForm">
      <ng-template matStepLabel>Tus conocimientos</ng-template>
      <mat-card>
        <mat-card-content>
          <mat-grid-list cols="3" rowHeight="180px">
            <mat-grid-tile>
              <div class="card">
                <img mat-card-image src="assets/images/resource1.svg" alt="">
              </div>
              <p> <strong>Poco: </strong>No se casi nada sobre la tecnologia y quiero aprender desde lo mas basico.</p>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="card">
                <img mat-card-image src="assets/images/resource1.svg" alt="">
              </div>
              <p><strong>Intermedio:</strong> Se lo basico y quiero seguir aprendiendo mas sobre la tecnologia.</p>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="card">
                <img mat-card-image src="assets/images/resource1.svg" alt="">
              </div>
              <p> <strong>Avanzado:</strong> Estoy en un nivel avanzado pero siempre es bueno seguir aprendiendo.</p>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-form-field>
            <mat-select placeholder="Elegir..." formControlName="conocimiento" required>
              <ng-container>
                <mat-option value="Poco">Poco</mat-option>
                <mat-option value="Intermedio">Intermedio</mat-option>
                <mat-option value="Avanzado">Avanzado</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <div align="right">
        <button style="margin-top: 15px;" mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="date" [stepControl]="dateForm" errorMessage="Es requierido.">
    <form [formGroup]="dateForm">
      <ng-template matStepLabel>Fecha de nacimiento</ng-template>
      <mat-card>
        <mat-card-content>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Debes tener entre 6 y 60 años de edad!</mat-label>
              <input [readonly]="true" matInput [min]="minDate" [max]="maxDate" formControlName="date"
                [matDatepicker]="dp3">
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>
          </p>
        </mat-card-content>
      </mat-card>
      <div align="right">
        <button style="margin-top: 15px;" mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Listo</ng-template>

    <h4 align="center"  style="margin-top: 50px;">Asegurate de que todo este listo y preciona en el boton guardar :)</h4>
    <div align="center">
      <button style="margin-top: 40px;" mat-raised-button color="primary" (click)="onSubmit()">Guardar</button>
    </div>

  </mat-step>

</mat-horizontal-stepper>

<mat-progress-bar *ngIf="load" mode="indeterminate"></mat-progress-bar>
