<a-asset-item id="museo" src="../../../../../assets/images/museum/modelMuseum.glb"></a-asset-item>
<a-asset id="robot" src="../../../../../assets/images/museum/robot.png"></a-asset>
<a-asset id="startTravel" src="../../../../../assets/images/museum/enviar.svg"></a-asset>
<a-asset id="exit" src="../../../../../assets/images/museum/exit.svg"></a-asset>
<a-asset id="ballon" src="../../../../../assets/images/museum/ballonMessaje.svg"></a-asset>
<a-asset id="robotSad" src="../../../../../assets/images/museum/robotSad.png"></a-asset>

<a-asset id="guided" src="../../../../../assets/images/museum/guided.svg"></a-asset>
<a-asset id="travelComplete" src="../../../../../assets/images/museum/travelFree.svg"></a-asset>
<a-asset id="exhibitionMuseum" src="../../../../../assets/images/museum/exhibition.svg"></a-asset>
<a-asset id="computer" src="../../../../../assets/images/museum/laptop.svg"></a-asset>
<a-asset id="internetSV" src="../../../../../assets/images/museum/internetSV.svg"></a-asset>

<a-mixin id="scaleDown"
  animation__scaledown="property: scale; from: 1.1 1.1 1.1; to: 1 1 1; dur: 100; autoplay: false; easing:
    easeInOutCubic; startEvents: mouseleave; pauseEvents: mouseenter; resumeEvents: "></a-mixin>
<a-mixin id="scaleUp"
  animation__scaleup="property: scale; from: 1 1 1; to: 1.1 1.1 1.1; dur: 100; autoplay: false; easing:
        easeInOutElastic; startEvents: mouseenter; pauseEvents: mouseleave; resumeEvents: "></a-mixin>