<div *ngIf="!status">
  <div class="nav-container">
    <div class="wapper-nav">
      <nav id="header1">
        <div class="logo">
          <img src="../../assets/images/loge.svg" alt="LOGO">
          <small>HIPER EFE</small>
        </div>

        <ul class="nav-items">

          <li>
            <a [routerLink]="['/inicio']" [routerLinkActive]="['active']">Inicio</a>
          </li>

          <li>
            <a [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
          </li>

          <li>
            <a [routerLink]="['/register']" [routerLinkActive]="['active']">Registrate</a>
          </li>

          <li>
            <a [routerLink]="['/terms-and-conditions']" [routerLinkActive]="['active']">Sobre nosotros</a>
          </li>
        </ul>

      </nav>
    </div>
  </div>
</div>


<div *ngIf="status">
  
  <!--header area start-->
  <header>
    <label for="check">
      <i class="fa fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>HIPER <span>EFE</span></h3>
    </div>
    <div class="right_area">
      <a (click)="singOut()" class="logout_btn">Cerrar Sesion</a>
    </div>
  </header>

  <!--header area end-->
  <!--sidebar start-->
  <div class="sidebar">
    <div class="profile" *ngIf="user">
      <img *ngIf="user.photoURL" src="{{user.photoURL}}" class="profile_image" alt="{{user.displayName}}">
      <img *ngIf="!user.photoURL" src="../../../assets/images/userDefault.svg" class="profile_image" alt="User Name">

      <h4 *ngIf="user.displayName">{{user.displayName}}</h4>
      <h4 *ngIf="!user.displayName">User Name</h4>

    </div>
    <a href="#"><i class="fa fa-user"></i><span>Mi Perfil</span></a>

    <a [routerLink]="['/home']" [routerLinkActive]="['active']"><i class="fa fa-laptop"></i><span>Salas</span></a>

    <a [routerLink]="['/rooms/chats']" [routerLinkActive]="['active']"><i class="fa fa-comments"></i><span>Chats</span></a>

    <a href="#"><i class="fa fa-info-circle"></i><span>Acerca de</span></a>

    <a (click)="openDialog()"><i class="fas fa-sliders-h"></i><span>Configuracion</span></a>
  </div>
  <!--sidebar end-->
</div>
<!-- 

-->
