  <div *ngIf="message ; else Principal">

      <div class="message-row other-message" *ngIf="!you">
        <div class="message-content" *ngIf="user">
          <img id="user-image-message" (click)="viewImageUser($event)" src="{{user.photoURL}}" onError="this.src='assets/images/default.png'" alt="user image">

          <div class="message-text" [matMenuTriggerFor]="menuRep">
            <div id="image-message" align ="center">
              <img *ngIf="tipe == 'img'" src="{{message.image}}"  aria-label="Ver imagen" onError="this.src='assets/images/default.png'" alt="image">
            </div>
            {{message.message}}</div>
          <div class="message-time"><strong>{{user.displayName}},  </strong>{{date}}</div>
        </div>
      </div>

      <div class="message-content" *ngIf="you">
        <div class="message-row you-message">
          <div class="message-text" [matMenuTriggerFor]="menu">
            <div id="image-message" align ="center">
              <img *ngIf="tipe == 'img'" src="{{message.image}}" onError="this.src='assets/images/default.png'" alt="image">
            </div>
            {{message.message}}</div>
          <div class="message-time"> <strong>Tu, </strong>{{date}}</div>
        </div>
      </div>

  </div>


  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="deleteMsg(message.id)">
      <mat-icon>delete_sweep</mat-icon>
      <span>Eliminar mensaje</span>
    </button>
    <button *ngIf="tipe == 'img'" mat-menu-item (click)="verImagen(message.image, message.message, user.displayName)">
      <mat-icon>visibility</mat-icon>
      <span>Ver imagen</span>
    </button>

  </mat-menu>


  <mat-menu #menuRep="matMenu" style="z-index: 5002;">



    <button *ngIf="tipe == 'img'" mat-menu-item (click)="verImagen(message.image)">
      <mat-icon>visibility</mat-icon>
      <span>Ver imagen</span>
    </button>



    <button mat-menu-item (click)="viewProfile(user.uid)">
      <mat-icon>public</mat-icon>      
      <span *ngIf="user">Perfil de {{user.displayName}}</span>
    </button>

    <button mat-menu-item (click)="reportMsg(message.message, message.id, user.email)">
      <mat-icon>report_problem</mat-icon>
      <span>Reportar mensaje</span>
    </button>
    
    <button *ngIf="tipe == 'img'" mat-menu-item (click)="repImage(message.image,  message.id, user.email)">
      <mat-icon>report_problem</mat-icon>
      <span>Reportar imagen</span>
    </button>
  </mat-menu>

  <ng-template #Principal>
    <div align ="center">
      <img  id="image-principal-chat" src="assets/images/resource1.svg" alt="image">
  
    </div>
  </ng-template>
