 <div class="message-row other-message">
          <div class="message-content">
            <img src="assets/images/profilepp.jpeg" alt="user image">
            <div class="message-text">Esque tasca ya nadie me quiere y boy a vever cloro pork
              si y porke ya no kier0o segir con este prollecto feo que solo kita tienpo</div>
            <div class="message-time"><strong>Josue Aparicio </strong> Hace un momento</div>
          </div>
        </div>
        <div class="message-content">
          <div class="message-row you-message">
            <div class="message-text">Inuil que sos</div>
            <div class="message-time">Hace un momento</div>
          </div>
        </div>

        <div class="message-row other-message">
          <div class="message-content">
            <img src="assets/images/profilepp.jpeg" alt="user image">
            <div class="message-text">Ok entendido compa</div>
            <div class="message-time">Hace un momento</div>
          </div>
        </div>

