<div class="login-page">

  <app-header></app-header>
  <!-- 

-->
  <div class="login-page-2">

    <div class="login-box">
      <div class="img img1">
        <img class="img-active" src="../../assets/images/resource1.svg" alt="login Image">
      </div>
      <div class="login-form">
        <div class="form-heading">
          <h3>Bienvenido</h3>
        </div>
        <form (ngSubmit)="SignIn()" #LoginForm="ngForm">

          <div class="group-input input-login">
            <i class="fa fa-user i" aria-hidden="true"></i>
            <input type="text" class="form-control field one" placeholder="Ingresa tu email*" name="email"
              pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
              #email="ngModel" required [(ngModel)]="userAccess.email">
          </div>

          <div class="group-input input-login">
            <i class="fa fa-unlock i" aria-hidden="true"></i>
            <input type="password" class="form-control field" placeholder="Contraseña*" name="password"
              #password="ngModel" required [(ngModel)]="userAccess.password">
          </div>


          <button type="submit"  class="btn btn-login"
            [disabled]="LoginForm.invalid">Iniciar Sesion</button>

        </form>
        <button  (click)= "singInGoogle()"
          class="btn btn-google">Iniciar Sesion con Google</button>

        <a (click)="alertChangePassword()">¿Olvidaste tu contraseña?</a>

      </div>
    </div>

  </div>
</div>
