.buttonDelete {
  background: red;
}

.home-user .contentDetails {
  height: 100vh;
  background: #181818;
  position: inherit;
}

.buttonDelete:hover {
  background: rgb(150, 12, 12);
}

.tableDetails {
  background: transparent !important;

}

.tableDetails td {
  color: white;
  border-bottom: white solid 3px;
}

.tableDetails td img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.tableDetails th {
  color: white;
  border-bottom: white solid 3px;
}

.searchMember {
  padding-top: 50px;
  background: #181818;
  position: inherit;
}

.searchMember input {
  color: black;
  width: 50%;
  margin-left: 25%;
  background: white;
  padding: 10px;
  border-radius: 20px;
}

.labelFilter {
  color: white;
}

.titleDetails {
  color: white;
  text-align: center;
}

.codeRoom {
  padding-top: 0px;
}

.codeRoom h4 {
  color: white;
  text-align: right;
  font-size: 13px;
}

.codeRoom h4 span {
  font-size: 18px;
  text-decoration: none;
  font-style: italic;
}
