

<article class="article-item" id="article-template">
    <mat-card> 
    <div class="image-wrap">
        <img *ngIf="!room.photo" src="assets/images/vr.jpg" alt="Sala Image" />
        <img *ngIf="room.photo" src="{{room.photo}}" alt="Sala Image" onError="this.src='assets/images/vr.jpg'" />

    </div>

    <h2>{{room.nombre}}</h2>
    <span class="date" >Codigo: {{room.id}} </span>
    <span class="date" *ngIf="room.maxParticipantes">
        Participantes: 1/{{room.maxParticipantes}}
    </span>
    <a  href="#">Ver detalles</a>

    <div class="clearfix"></div>
</mat-card>
</article>

