<div class="home-user">

  <input type="checkbox" id="check">

  <app-header [status]="'principal'"></app-header>

  <div class="clearfix"></div>
  <div class="order ">

    <div id="chat-container" *ngIf="rooms">

      <div id="search-container">
        <input type="text" (keyup)="applyFilter($event)" placeholder="Buscar">
      </div>
      <div id="conversation-list">
        <div *ngFor="let room of rooms">

          <app-conversations [conversation]="room" (chatSelect)="mostrarChat($event)">
          </app-conversations>

        </div>
      </div>
      <div id="new-message-container">
        <a>+</a>
      </div>
      <div id="chat-title" >
        <span *ngIf="conversation.nombre && user">{{conversation.nombre}}</span>
        <span *ngIf="!conversation.nombre ">@HIPER EFE</span>
        <img src="{{conversation.photo}}" onError="this.src='assets/images/default.png'" alt="photo">
        <mat-progress-bar *ngIf="procesando" mode="indeterminate"></mat-progress-bar>
      </div>
      <div id="chat-message-list" *ngIf="messages; else Principal">
        <div *ngFor="let msg of messages">
          
        
          <app-messages [uid]="user.uid" 
          [message]="msg" 
          [room]="conversation.id" 
          (delete)="deleteMsg($event)" 
          (reported)="reportMsg($event)">
          </app-messages>
        

      </div>
      </div>
      <emoji-mart *ngIf="emojis" (emojiClick)="addEmoji($event)" emoji="point_up"></emoji-mart>
      <form id="chat-form" (submit)="send()" [formGroup]="msgForm" >
        <img src="assets/images/upppload.png" alt="add archv" (click) ="onUploadImage()">
        <img src="assets/images/emoji.png" alt="add emoji" id="emoji"   (click)="changeEmojis()">

        <mat-icon (clicl)="send()" >send</mat-icon>
        <input type="text" placeholder="Escribe un mensaje"  formControlName="msg">
      </form>
    </div>
  </div>
</div>

<ng-template #Principal>
  <div align ="center">
    <img  id="image-principal-chat" src="assets/images/resource1.svg" alt="">
  </div>
</ng-template>


