<div class="home-user">

  <input type="checkbox" id="check">

  <app-header [status]="'principal'"></app-header>

  <div class="clearfix"></div>
  <div class="order ">

    <div id="chat-container" *ngIf="rooms">

      <div id="search-container">
        <input type="text" placeholder="Buscar">
      </div>
      <div id="conversation-list">
        <div *ngFor="let room of rooms">

          <app-conversations [conversation]="room" (chatSelect)="mostrarChat($event)">
          </app-conversations>

        </div>
      </div>
      <div id="new-message-container">
        <a href="#">+</a>
      </div>
      <div id="chat-title" *ngIf="conversation.nombre && user">
        <span>{{conversation.nombre}}</span>
        <img src="assets/images/trash.png" alt="Delete Conversation">
      </div>
      <div id="chat-message-list" *ngIf="messages">
        <div *ngFor="let msg of messages">
          <app-messages [uid]="user.uid" [message]="msg">
          </app-messages>

      </div>

      </div>
      <form id="chat-form" (submit)="send()" [formGroup]="msgForm">
        <img src="assets/images/upppload.png" alt="add archv" (click)="mmm()">
        <mat-icon >send</mat-icon>
        <input type="text" placeholder="Escribe un mensaje" formControlName="msg">
      </form>
    </div>
  </div>
</div>
