<div class="body">

  <app-header></app-header>


  <div class="header-container">
    <div class="wrapper">
      <header class="conetendor-forms">
        <div class="hero-container">
          <div class="virtual">

            <h1>VI<p>R</p>TUAL</h1>
            <h2>REALI<p>T</p>Y</h2>
          </div>

          <div class="text-and-button-init">

            <p class="text-center text-black">Aprende tecnología aquí y ahora</p>

            <button class="button-hover"><span>Empezar</span></button>

          </div>
        </div>


      </header>

    </div>
  </div>


  <div class="smokes">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

    </ul>
  </div>

</div>
