<a-scene device-orientation-permission-ui="enabled: true" renderer="colorManagement: true;">
    <a-assets>
      <app-assets-museum></app-assets-museum>
    </a-assets>

    <a-entity id="cameraUser" camera="" wasd-controls position="0 0.6 0" rotation="-9.969465635276295 1023.3026221036458 0"
      look-controls cursor="rayOrigin: mouse"></a-entity>

    <a-gltf-model id="modelMuseo" src="#museo" rotation="0 -90 0" position="53.5 0 -16">
    </a-gltf-model>
    <a-sky id="skyMuseo" color="#0a0d1f"></a-sky>

    <a-light id="ligthAmbient" type="ambient" color="#3792fb" intensity="0" visible="true" mixin="lightAmbientOn">
    </a-light>

    <a-light id="ligthOff" type="ambient" color="#16263b" mixin="lightAmbientOff"></a-light>


    <a-entity id="focoRobot" position="2.355 -1.259 -2.799"
      light="color: #22f789; intensity: 21.23; type: point; distance: 2.33; decay: 2" visible=""
      animation__visible="property: visible; to: false; startEvents: start; easing: easeInOutCubic; autoplay:
      false; delay: 2500;"></a-entity>

    <a-entity id="focoMenu" position="-2 -1.259 -2.799"
      light="color: #22f789; intensity: 21.23; type: point; distance: 2.33; decay: 2" visible=""
      animation__visible="property: visible; to: false; startEvents: start; easing: easeInOutCubic; autoplay:
      false; delay: 2500;"></a-entity>

    <a-entity id="contentRobot" position="0.209 0 -2.799">
      <a-entity id="lblBanner"
        text="font: https://cdn.aframe.io/fonts/Monoid.fnt; value: BIENVENIDO AL MUSEO DE HIPEREFE; align: center; width: 6"
        position="0 1.5 0" rotation="" 
        animation__hidden="property: position; to: 1.3 -3 2; startEvents: visitGuided;
        dur: 1000; easing: easeInOutCubic; autoplay: false;"
        animation__visible="property: visible; to: false; startEvents: animationcomplete__hidden; easing:
        easeInOutCubic;
        autoplay: false"></a-entity>

      <a-entity id="question"
        text="font: https://cdn.aframe.io/fonts/Monoid.fnt; value: Como quieres realizar tu visita?; width: 4; align: center;"
        position="0 1.2 0" rotation="" material="opacity:0" 
        animation__hidden="property: position; to: 0 1.5 0; startEvents: visitGuided;
                dur: 1000; easing: easeInOutCubic; autoplay: false;"></a-entity>
    </a-entity>
    <a-image id="imgRobot" src="#robot" width="3" height="1.5" position="0 -0.67227 -2.799" material="" geometry=""
      animation__moveleft="property: position; to: -1 -0.67227 -2.799; startEvents: visitGuided;
        dur: 1000; easing: easeInOutCubic; autoplay: false;" 
        animation__show1="property: position; to: 1.5 -0.91 -17; startEvents: start;
        dur: 1000; easing: easeInOutCubic; autoplay: false; delay: 4500;"></a-image>

    <a-entity id="containerBtnStart" mixin="hiddenMenu menuInvisible">

      <a-entity id="btnStartTravelGuided" position="1.3 0.19721 -2.799" rotation="" (mouseenter)="focusObject()"
        (click)="visitGuided()" mixin="scaleUp scaleDown"
          animation__hidden="property: position; to: 1.3 -3 2; startEvents: visitGuided;
            dur: 1000; easing: easeInOutCubic; autoplay: false;"
            proxy-event="event: click; to: a-scene, #lblBanner,#btnStartTravelGuided, #containerBtnStart, #focoMenu,
            #btnStartTravelFree, #btnExitMuseum, #btnTravelComplete, #exhibition, #historyComputer, #historyInternetSV,
            #contentRobot, #question, #imgRobot;
            as: visitGuided; captureBubbles: true; bubbles: true;">
        <a-image src="#guided" position="0 0.31336 0" material="side: front" geometry="" scale="0.5 0.5 1">
        </a-image>
        <a-entity text="font: https://cdn.aframe.io/fonts/mozillavr.fnt; value: Visita Guiada; align: center; width: 4"
          position="0 0.05223 0"></a-entity>
      </a-entity>

      <a-entity id="btnStartTravelFree" position="-1 0.19721 -2.799" rotation="" mixin="scaleUp scaleDown"
        (mouseenter)="focusObject()"
        animation__hidden="property: position; to: -2.568 -0.661 -2.799; startEvents: visitGuided;
            dur: 1000; easing: easeInOutCubic; autoplay: false;">
        <a-image src="#startTravel" position="0 0.31336 0" material="side: front" geometry="" scale="0.5 0.5 1">
        </a-image>
        <a-entity
          text="font: https://cdn.aframe.io/fonts/mozillavr.fnt; value: Explorar por mi cuenta; align: center; width: 4"
          position="0 0.05223 0"></a-entity>
      </a-entity>
      
      <a-entity id="btnExitMuseum" position="-2.5 0.19721 -2.799" rotation="" mixin="scaleUp scaleDown"
        (mouseenter)="focusObject()">
        <a-image src="#exit" position="0 0.313 0" material="side: front" geometry="" scale="0.5 0.5 1"></a-image>
        <a-entity text="font: https://cdn.aframe.io/fonts/mozillavr.fnt; value: Lobby; align: center; width: 4"
          position="0 0.05223 0"></a-entity>
      </a-entity>

      <a-entity id="btnTravelComplete" position="-2.568 -3 2" rotation="" mixin="scaleUp scaleDown" visible="false"
        (click)="startTravelFree()" (mouseenter)="focusObject()" (animationcomplete__hidden)="moveCameraUser()"
      animation__show="property: position; to: -1 0.756 -2.799; startEvents: animationcomplete__visible;
            dur: 1000; easing: easeInOutCubic; autoplay: false;"
       animation__visible="property: visible; to: true; startEvents: visitGuided; easing: easeInOutCubic; autoplay: false"
      animation__hidden="property: position; to: -2.568 -3 2; startEvents: click;
      dur: 1000; easing: easeInOutCubic; autoplay: false; delay: 2500"
      proxy-event="event: click; to: a-scene, #containerBtnStart, #imgRobot, #lightSphere, #ligthAmbient, #ligthOff,
      #focoRobot, #focoMenu; as: start; captureBubbles: true; bubbles: true;">
        <a-image src="#travelComplete" position="0 0.31336 0" material="side: front" geometry="" scale="0.5 0.5 1">
        </a-image>
        <a-entity
          text="font: https://cdn.aframe.io/fonts/mozillavr.fnt; value: Recorrido Completo; align: center; width: 4"
          position="0 0.05223 0"></a-entity>
      </a-entity>

      <a-entity id="exhibition" position="1.2 -3 2" rotation="" visible="false"
        animation__hidden="property: position; to:0.95 0.756 -2.79 ; startEvents: animationcomplete__visible; easing:
          easeInOutCubic; autoplay: false"
        animation__visible="property: visible; to: true; startEvents: visitGuided; easing: easeInOutCubic;
          autoplay: false">
        <a-image src="#exhibitionMuseum" position="-0.65 0.31336 0" material="side: front" geometry=""
          scale="0.5 0.5 1">
        </a-image>
        <a-entity
          text="font: https://cdn.aframe.io/fonts/mozillavr.fnt; value: Exhibiciones del Museo; align: center; width: 4"
          position="0.59 0.4 0"></a-entity>
      </a-entity>

      <a-entity id="historyComputer" position="1.2 -3 2" rotation="" mixin="scaleUp scaleDown"
        (mouseenter)="focusObject()" visible="false"
      animation__show="property: position; to:1.3 0.3 -2.799; startEvents: animationcomplete__visible;
        dur: 1000; easing: easeInOutCubic; autoplay: false; delay: 1000"
      animation__visible="property: visible; to: true; startEvents: visitGuided; easing: easeInOutCubic;
        autoplay: false">
        <a-image src="#computer" position="0 0.31336 0" material="side: front" geometry="" scale="0.5 0.5 1">
        </a-image>
        <a-entity
          text="font: https://cdn.aframe.io/fonts/mozillavr.fnt; value: Generaciones de la Computadora; align: center; width: 4"
          position="0 0.05223 0"></a-entity>
      </a-entity>

      <a-entity id="historyInternetSV" position="1.3 -4 2" rotation="" mixin="scaleUp scaleDown"
      (mouseenter)="focusObject()" visible="false" (animationcomplete__hidden)="startTravelUPH()"
      animation__show="property: position; to: 1.3 -0.8 -2.799; startEvents: animationcomplete__visible;
            dur: 1000; easing: easeInOutCubic; autoplay: false; delay: 1000"
      animation__visible="property: visible; to: true; startEvents: visitGuided; easing: easeInOutCubic;
      autoplay: false"
      animation__hidden="property: position; to: -2.568 -3 2; startEvents: click;
      dur: 1000; easing: easeInOutCubic; autoplay: false; delay: 2500"
      proxy-event="event: click; to: a-scene, #containerBtnStart, #imgRobot, #lightSphere, #ligthAmbient, #ligthOff,
      #focoRobot, #focoMenu; as: start; captureBubbles: true; bubbles: true;">
        <a-image src="#internetSV" position="0 0.31336 0" material="side: front" geometry="" scale="0.5 0.5 1">
        </a-image>
        <a-entity
          text="font: https://cdn.aframe.io/fonts/mozillavr.fnt; value: Internet en El Salvador; align: center; width: 4"
          position="0 0.05223 0"></a-entity>
      </a-entity>
    </a-entity>

    <a-entity id="containerLigth" visible="false">
      <a-entity id="focoBase" position="4.77 0.174 -5.06"
        light="color: #ffffff; intensity: 2; type: point; distance: 2.5"></a-entity>

      <a-entity id="focoBase" position="8 0.174 -9.546"
        light="color: #ffffff; intensity: 2; type: point; distance: 2.5"></a-entity>

      <a-entity id="focoBase" position="11 0.174 -5.06"
        light="color: #ffffff; intensity: 2; type: point; distance: 2.5"></a-entity>

      <a-entity id="focoBase" position="15 0.174 -9.546" visible="false"
        light="color: #ffffff; intensity: 2; type: point; distance: 2.5"></a-entity>

      <a-entity id="focoBase" position="18 0.174 -5.06" visible="false"
        light="color: #ffffff; intensity: 2; type: point; distance: 2.5"></a-entity>

      <a-entity id="focoBase" position="21 0.174 -9.546" visible="false"
        light="color: #ffffff; intensity: 2; type: point; distance: 2.5"></a-entity>

      <a-entity id="focoBase" position="24 0.174 -5.06" visible="false"
        light="color: #ffffff; intensity: 2; type: point; distance: 2.5"></a-entity>

      <a-entity id="focoBase" position="27 0.174 -9.546" visible="false"
        light="color: #ffffff; intensity: 2; type: point; distance: 2.5"></a-entity>

      <a-entity id="focoBase" position="30 0.174 -5.06" visible="false"
        light="color: #ffffff; intensity: 2; type: point; distance: 2.5"></a-entity>

      <a-entity id="focoBase" position="33 0.174 -9.546" visible="false"
        light="color: #ffffff; intensity: 2; type: point; distance: 2.5"></a-entity>

      <a-entity id="focoBase" position="36 0.174 -5.06" visible="false"
        light="color: #ffffff; intensity: 2; type: point; distance: 2.5"></a-entity>
    </a-entity>

    <a-entity id="abtractionComputer" position="0 0 -12">
      <a-light id="lightSphere" type="spot" decay="3" distance="20" intensity="0" penumbra="0.1"
        position="-0.01961 1.23176 0" visible="true" mixin="ligthIntesity">
        <a-entity geometry="primitive: cone; radiusBottom: 0.52; radiusTop: 0.12" id="forma"
          material="shader: flat; opacity: 0.5" position="-0.04 1.23868 -0.57" rotation="50 0 0"></a-entity>
      </a-light>
      <a-gltf-model id="pilar" src="#pilar3D" position="-0.088 -3.48 -5" scale="1 1.3 1">
        <a-gltf-model id="computer" mixin="rotationObj" src="#laptop"
          position="0 2.6 0" scale="0.4 0.4 0.4" rotation="0 90 0"></a-gltf-model>
      </a-gltf-model>
      <a-gltf-model id="modelTv" position="-1.60 1.5 -6" rotation="0 180 0" src="#tv" scale="3 2.5 1"></a-gltf-model>
      <a-gltf-model id="modelTv2" position="1.4 1.5 -6" rotation="0 180 0" src="#tv" scale="3 2.5 1"></a-gltf-model>
    </a-entity>

    <a-entity id="abtractionInternetsv" position="8 0 -12">
      <a-light id="lightSphere" type="spot" decay="3" distance="20" intensity="0" penumbra="0.1"
        position="-0.01961 1.23176 0" visible="true" mixin="ligthIntesity">
        <a-entity geometry="primitive: cone; radiusBottom: 0.52; radiusTop: 0.12" id="forma"
          material="shader: flat; opacity: 0.5" position="-0.04 1.23868 -0.57" rotation="50 0 0"></a-entity>
      </a-light>
      <a-entity id="pilar" geometry="primitive: cylinder; height: 2.760; segmentsHeight: 17; radius: 0.46"
        material="shader: flat; color: #fff" position="-0.088 -2.04 -5">
        <a-gltf-model id="computer" mixin="rotationObj" src="#mouse" position="0 2 0" scale="0.1 0.1 0.1"
          rotation="0 90 0"></a-gltf-model>
      </a-entity>
      <a-gltf-model id="modelTv" position="-1.60 1.5 -6" rotation="0 180 0" src="#tv" scale="3 2.5 1"></a-gltf-model>
      <a-gltf-model id="modelTv2" position="1.4 1.5 -6" rotation="0 180 0" src="#tv" scale="3 2.5 1"></a-gltf-model>
    </a-entity>
    

    <a-entity id="containerFrameMuseum" position="0 -0.11 -3.687">

      <a-gltf-model id="modelFrame" position="8.6 0 0" rotation="0 180 0" src="#framePhoto">
        <a-light id="lightSphere" type="spot" decay="3" distance="20" intensity="0" penumbra="0.1"
          position="0.086 0.262 2.70" visible="true" mixin="ligthIntesity">
          <a-entity geometry="primitive: cone; radiusBottom: 0.52; radiusTop: 0.12" id="forma"
            material="shader: flat; opacity: 0.5" position="-0.04 1.23868 -0.57" rotation="50 0 0"></a-entity>
        </a-light>
        <a-image src="#to220" width="1.650" height="1.9" position="0 0 0.103" material="" geometry="">
        </a-image>
      </a-gltf-model>

      <a-gltf-model id="modelFrame" position="13 0 0" rotation="0 180 0" src="#framePhoto">
        <a-light id="lightSphere" type="spot" decay="3" distance="20" intensity="0" penumbra="0.1"
          position="0.086 0.262 2.70" visible="false" mixin="ligthIntesity">
          <a-entity geometry="primitive: cone; radiusBottom: 0.52; radiusTop: 0.12" id="forma"
            material="shader: flat; opacity: 0.5" position="-0.04 1.23868 -0.57" rotation="50 0 0"></a-entity>
        </a-light>
        <a-image src="#ctsv" width="1.650" height="1.9" position="0 0 0.103" material="" geometry="">
        </a-image>
      </a-gltf-model>

      <a-gltf-model id="modelFrame" position="18 0 0" rotation="0 180 0" src="#framePhoto">
        <a-light id="lightSphere" type="spot" decay="3" distance="20" intensity="0" penumbra="0.1"
          position="0.086 0.262 2.70" visible="false" mixin="ligthIntesity">
          <a-entity geometry="primitive: cone; radiusBottom: 0.52; radiusTop: 0.12" id="forma"
            material="shader: flat; opacity: 0.5" position="-0.04 1.23868 -0.57" rotation="50 0 0"></a-entity>
        </a-light>
        <a-image src="#oblea" width="1.650" height="1.9" position="0 0 0.103" material="" geometry="">
        </a-image>
      </a-gltf-model>

      <a-gltf-model id="modelFrame" position="23 0 0" rotation="0 180 0" src="#framePhoto">
        <a-light id="lightSphere" type="spot" decay="3" distance="20" intensity="0" penumbra="0.1"
          position="0.086 0.262 2.70" visible="false" mixin="ligthIntesity">
          <a-entity geometry="primitive: cone; radiusBottom: 0.52; radiusTop: 0.12" id="forma"
            material="shader: flat; opacity: 0.5" position="-0.04 1.23868 -0.57" rotation="50 0 0"></a-entity>
        </a-light>
        <a-image src="#hpJornada" width="1.650" height="1.9" position="0 0 0.103" material="" geometry="">
        </a-image>
      </a-gltf-model>

      <a-gltf-model id="modelFrame" position="28 0 0" rotation="0 180 0" src="#framePhoto">
        <a-light id="lightSphere" type="spot" decay="3" distance="20" intensity="0" penumbra="0.1"
          position="0.086 0.262 2.70" visible="false" mixin="ligthIntesity">
          <a-entity geometry="primitive: cone; radiusBottom: 0.52; radiusTop: 0.12" id="forma"
            material="shader: flat; opacity: 0.5" position="-0.04 1.23868 -0.57" rotation="50 0 0"></a-entity>
        </a-light>
        <a-image src="#toshLibretto" width="1.650" height="1.9" position="0 0 0.103" material="" geometry="">
        </a-image>
      </a-gltf-model>

      <a-gltf-model id="modelFrame" position="33 0 0" rotation="0 180 0" src="#framePhoto">
        <a-light id="lightSphere" type="spot" decay="3" distance="20" intensity="0" penumbra="0.1"
          position="0.086 0.262 2.70" visible="false" mixin="ligthIntesity">
          <a-entity geometry="primitive: cone; radiusBottom: 0.52; radiusTop: 0.12" id="forma"
            material="shader: flat; opacity: 0.5" position="-0.04 1.23868 -0.57" rotation="50 0 0"></a-entity>
        </a-light>
        <a-image src="#disk1541" width="1.650" height="1.9" position="0 0 0.103" material="" geometry="">
        </a-image>
      </a-gltf-model>

      <a-gltf-model id="modelFrame" position="38 0 0" rotation="0 180 0" src="#framePhoto">
        <a-light id="lightSphere" type="spot" decay="3" distance="20" intensity="0" penumbra="0.1"
          position="0.086 0.262 2.70" visible="false" mixin="ligthIntesity">
          <a-entity geometry="primitive: cone; radiusBottom: 0.52; radiusTop: 0.12" id="forma"
            material="shader: flat; opacity: 0.5" position="-0.04 1.23868 -0.57" rotation="50 0 0"></a-entity>
        </a-light>
        <a-image src="#txPc" width="1.650" height="1.9" position="0 0 0.103" material="" geometry="">
        </a-image>
      </a-gltf-model>

      <a-gltf-model id="modelFrame" position="43 0 0" rotation="0 180 0" src="#framePhoto">
        <a-light id="lightSphere" type="spot" decay="3" distance="20" intensity="0" penumbra="0.1"
          position="0.086 0.262 2.70" visible="false" mixin="ligthIntesity">
          <a-entity geometry="primitive: cone; radiusBottom: 0.52; radiusTop: 0.12" id="forma"
            material="shader: flat; opacity: 0.5" position="-0.04 1.23868 -0.57" rotation="50 0 0"></a-entity>
        </a-light>
        <a-image src="#dnsSV" width="1.650" height="1.9" position="0 0 0.103" material="" geometry="">
        </a-image>
      </a-gltf-model>
    </a-entity>

    <!--Parches al museo-->
    <a-entity id="muro" position="53.50 0 -19.55" geometry="primitive: box" scale="115 9 1" material="shader: standard; color: #153ab6"></a-entity>
</a-scene>
