<div class="login-page">

  <app-header></app-header>
  <!-- 
-->
  <div class="login-page-2">

    <div class="login-box">
      <div class="img img2">
        <img src="../../assets/images/female2.svg" alt="login Image">
      </div>
      <div class="login-form">
        <div class="form-heading">
          <h3>Registrate</h3>
        </div>
        <form (ngSubmit)="onRegister()" [formGroup]="registerForm">

          <span  class="invalid" *ngIf="registerForm.get('email').touched &&  registerForm.get('email').errors?.pattern "  >
            El email es invalido *
          </span>
          <div class="group-input">
            <i *ngIf=" registerForm.get('email').touched && !registerForm.get('email').errors?.required  && !registerForm.get('email').errors?.pattern  "
              class="fa fa-check i nice" aria-hidden="true"></i>
            <i *ngIf=" registerForm.get('email').touched &&  registerForm.get('email').errors?.pattern "
              class="fa fa-times i fail" aria-hidden="true"></i>
            <input type="email" class="form-control field one" placeholder="Ingresa tu email*" name="email"
              formControlName="email">
          </div>

          <span  class="invalid" *ngIf="registerForm.get('displayName').touched &&  registerForm.get('displayName').errors?.required || registerForm.get('displayName').errors?.minlength" >
            Nombre de Usuario invalido*
          </span>
          <div class="group-input">
            <i *ngIf=" registerForm.get('displayName').touched && !registerForm.get('displayName').errors?.required && !registerForm.get('displayName').errors?.minlength  "
              class="fa fa-check i nice" aria-hidden="true"></i>
            <i *ngIf=" registerForm.get('displayName').touched &&  registerForm.get('displayName').errors?.required || registerForm.get('displayName').errors?.minlength "
              class="fa fa-times i fail" aria-hidden="true"></i>
            <input type="text" class="form-control field one" placeholder="Ingresa tu Nombre de Usuario*" name="displayName"
              formControlName="displayName" >
          </div>

          <span  class="invalid" *ngIf="registerForm.get('password').touched &&  registerForm.get('password').errors?.validPASS  " >
            Prueba agregando mayusculas, minusculas, numeros y caracteres raros *
          </span>
          <div class="group-input">
            <i *ngIf="registerForm.get('password').value.length > 1 && registerForm.get('password').touched  && !registerForm.get('password').errors?.required  && !registerForm.get('password').errors?.validPASS"
              class="fa fa-lock nice i" aria-hidden="true"></i>
            <i *ngIf="registerForm.get('password').touched &&  registerForm.get('password').errors?.validPASS "
              class="fa fa-unlock fail i" aria-hidden="true"></i>
            <input type="password" class="form-control field" placeholder="Contraseña*" name="password"
              formControlName="password">
          </div>

          <span  class="invalid" *ngIf="registerForm.get('password2').touched &&  registerForm.get('password2').value != registerForm.get('password').value  " >
            Las contraseñas no coiciden *
          </span>
          <div class="group-input">
            <i *ngIf="registerForm.get('password2').value.length > 1 && registerForm.get('password2').touched && !registerForm.get('password').errors?.required  && registerForm.get('password2').value ==registerForm.get('password').value  "
              class="fa fa-check nice i" aria-hidden="true"></i>
            <i *ngIf="registerForm.get('password2').touched &&  registerForm.get('password2').value != registerForm.get('password').value  "
              class="fa fa-times fail i" aria-hidden="true"></i>
            <input type="password" class="form-control field" placeholder="Repetir contraseña*" name="password2"
              formControlName="password2">
          </div>

          <span  class="invalid" *ngIf=" !getDateInput() && registerForm.get('date').touched ">
            La fecha es invalida, debes de tener entre 6 y 60 años! *
          </span>
          <div class="group-input">
            <input type="date" class="form-control field" name="date" id="inputDate" formControlName="date"
              min="1970-01-01" max="2013-01-01">
          </div>



          <button type="submit"   class="btn btn-login" value="" [disabled]="registerForm.invalid">Registrar</button>
        </form>
        <button  (click)="singInGoogle()" class="btn btn-google" value="" >Registrar con Google</button>

        <div class="sign-in-remember field">
          <label>
          Al Registrate aceptas nuestros  <strong><a [routerLink]="['/terms-and-conditions']" [routerLinkActive]="['active']">Terminos y condiciones</a> </strong>
          </label>
        </div>
      </div>
    </div>

  </div>
</div>
