<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Email Eliminado</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: monospace;
    }

    .emailConteiner{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: #060c21;
    }
    .emailConteiner header {
        width: 100%;
        height: 80px;
        background-color: #0c0f38;
    }

    .emailConteiner header .containerTitle {
        padding-top: 25px;
        display: flex;
        justify-content: center;
    }

    .emailConteiner header .containerTitle h1 {
        text-align: center;
        color: white;
        font-size: 35px;
        padding-top: 0px;
    }

    .emailConteiner header .containerTitle img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }

    .emailConteiner .containerBodyEmail {
        display: flex;
        justify-content: center;
    }


    .emailConteiner .containerBodyEmail section {
        background-color: #101669;
        width: 50%;
        height: 250px;
        border: solid 2px #fff;
        margin-top: 25px;
        border-radius: 20px;
    }

    .emailConteiner .containerBodyEmail section h2 {
        color: white;
        text-align: center;
        margin-top: 15px;
        font-size: 30px;
    }

    .emailConteiner .containerBodyEmail section img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        margin-top: 5px;
    }

    .emailConteiner .containerBodyEmail section .messageEmail {
        text-align: center;
        color: white;
        margin-top: 10px;
    }

    .messageEmail h3 {
        font-size: 20px;
    }

    .messageEmail h4 {
        margin-top: 5px;
        font-size: 20px;
        font-style: italic;
    }

    .messageEmail h5 {
        margin-top: 30px;
        font-size: 18px;
    }

    .messageEmail p {
        font-size: 15px;
        font-style: italic;
    }

    .centerItem {
        display: flex;
        justify-content: center;
    }

    .footerEmail {
        height: 150px;
        background: #112a6f;
        margin-top: 20px;
        color: white;
        border: 3px solid #fff;
        border-radius: 20px;
    }

    .footerEmail h3 {
        text-align: center;
        font-size: 20px;
        padding-top: 15px;
    }

    .footerEmail .centerItem {
        margin-top: 15px;
    }

    .footerEmail h5 {
        margin-right: 10px;
        margin-left: 30px;
        font-size: 18px;
        font-style: italic;
    }

    .footerEmail h5:nth-child(1) {
        background-color: #3369ff;
        padding: 10px;
    }

    .footerEmail h5:nth-child(2) {
        background-color: #6be49f;
        color: black;
        padding: 10px;
    }

    .footerEmail h5:nth-child(3) {
        background-color: #3369ff;
        padding: 10px;
    }

    .footerEmail h5:nth-child(4) {
        background-color: #6be49f;
        color: black;
        padding: 10px;
    }

    .contactWeb {
        background: none;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        color: white;
    }

    .endItem {
        display: flex;
        justify-content: end;
        width: 100%;
    }

    .contactWeb img {
        width: 100%;
        height: 100%;
    }

    .contactWeb .endItem .contentLogo2 {
        width: 15%;
        height: 0;
        margin-left: 15px;
    }

    .contactWeb .contentText {
        margin-left: -35px;
    }

    .contactWeb .contentText h3 {
        font-size: 20px;
        font-style: italic;
        font-family: system-ui;
        border-bottom: 2px solid #fff;
    }

    .contactWeb .contentText h5 {
        margin-top: 5px;
        font-size: 12px
    }

    .contentIcon {
        margin-left: auto;
        margin-right: 25px;
    }
</style>
</head>
<body>
    {{{body}}}
</body>
</html>