<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Email Eliminado</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<style>
* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.centerItem {
    display: flex;
    justify-content: center;
}

.headerEmail{
    width: 100%;
    height: 90px;
    background-color: #0c0f38;
}
.headerEmail .containerTitle{
    padding-top: 25px;
    display: initial;
    margin-left: 47%;
}
.headerEmail .containerTitle h1 {
    color: white;
    font-size: 18px;
    padding-top: 0px;
    width: 100%;
    text-align: center;
}
.headerEmail .containerTitle img {
    width: 50px;
    height: 50px;
}

.sectionMsg .centerItem img{
    width: 50px;
    height: 50px;
}

.sectionMsg {
    background-color: #191919;
}

.sectionMsg h2{
    margin-top: 6px;
    margin-left: 5px;
    font-size: 20px;
    text-align: center;
    color: red;
}

.sectionMsg .messageEmail {
    text-align: center;
}

.sectionMsg .messageEmail h1{
    font-size: 15px;
    color: #fff;
}

.sectionMsg .messageEmail h2{
    font-size: 14px;
    font-style: italic;
    
}
.sectionMsg .messageEmail h3{
    font-size: 15px;
    color: #fff;
}

.contactWeb .centerItem {
    background: #161616;
    width: 100%;
    color: white;
    height: 135px;
    align-items: center;
}
.contactWeb .centerItem {
    align-items: center !important;
}
.contentIcon img{
    width: 35px !important;
    height: 35px !important;
    margin-left: 5px;
}
.contactWeb .endItem img{
    width: 50px;
}

.contactWeb .centerItem .contentLogo2 {
    margin-right: 10px;
    margin-top: 35px;
}
.contactWeb .centerItem .contentIcon {
    margin-left: 8px;
}

.contactWeb .centerItem .contentText {
    margin-top: 35px;
}
.contactWeb .centerItem .contentText h3{
    font-size: 18px;
    font-style: italic;
    font-family: system-ui;
    border-bottom: 2px solid #fff;
}
.contactWeb .centerItem .contentText h5 {
    margin-top: 0px;
    font-size: 12px
}

.contactWeb .centerItem .contentIcon {
    margin-top: 50px;
}
</style>
</head>
<body>
    {{{body}}}
</body>
</html>