<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Email Eliminado</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<style>
* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.centerItem {
    display: flex;
    justify-content: center;
}

.headerEmail{
    width: 100%;
    height: 80px;
    background-color: #0c0f38;
}
.headerEmail .containerTitle{
    padding-top: 25px;
    display: flex;
    justify-content: center;
}
.headerEmail .containerTitle h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 0px;
    width: 75%;
}
.emailConteiner header .containerTitle img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.sectionMsg .centerItem img{
    width: 50px;
    height: 50px;
}

.sectionMsg h2{
    margin-top: 6px;
    margin-left: 5px;
    font-size: 30px;
    text-align: center;
    color: red;
}

.sectionMsg .messageEmail {
    text-align: center;
}

.sectionMsg .messageEmail h1{
    font-size: 25px;
    color: #000;
}

.sectionMsg .messageEmail h2{
    font-size: 21px;
    font-style: italic;
    
}
.sectionMsg .messageEmail h3{
    font-size: 20px;
    color: #000;
}

.contactWeb .centerItem {
    background: #161616;
    width: 100%;
    color: white;
    height: 20vh;
    align-items: center;
}
.contactWeb .centerItem{
    align-items: center;
}
.contentIcon img{
    width: 35px;
    height: 35px;
    margin-left: 5px;
}
.contactWeb .endItem img{
    width: 50px;
}

.contactWeb .centerItem .contentLogo2 {
    margin-right: 10px;
}
.contactWeb .centerItem .contentIcon {
    margin-left: 8px;
}
.contactWeb .centerItem .contentText h3{
    font-size: 20px;
    font-style: italic;
    font-family: system-ui;
    border-bottom: 2px solid #000;
}
.contactWeb .centerItem .contentText h5 {
    margin-top: 0px;
    font-size: 12px
}
</style>
</head>
<body>
    {{{body}}}
</body>
</html>